<form action="/inmueble/alquilar" method="post">
    <input type="hidden" name="idInmueble" th:value="${inmueble.idInmueble}">

    <div class="container mt-5">
        <h1 class="card-title" th:text="${inmueble.inmuTitulo}">Inmueble</h1>
        <p class="card-text">
            <strong>Titulo:</strong> <span th:text="${inmueble.inmuTitulo}"> </span><br>
            <strong>Tipo:</strong> <span th:text="${inmueble.inmuTipo}"></span><br>
            <strong>Departamento:</strong> <span th:text="${inmueble.inmuDepart}"></span><br>
            <strong>Ciudad:</strong> <span th:text="${inmueble.inmuCiudad}"></span><br>
            <strong>Área:</strong> <span th:text="${inmueble.inmuArea}"></span><br>
            <strong>Dirección:</strong> <span th:text="${inmueble.inmuDireccion}"></span><br>
            <strong>Pisos:</strong> <span th:text="${inmueble.inmuPisos}"></span><br>
            <strong>Precio:</strong> <span th:text="${inmueble.inmuPrecio}"></span> <br>
            <strong>Puntaje:</strong> <span th:text="${inmueble.inmuPunt}"></span>
        </p>

        <div class="form-group">
            <label for="fecIni">Fecha de Inicio</label>
            <input type="date" id="fecIni" name="fecIni" required>
        </div>

        <div class="form-group">
            <label for="fecFin">Fecha de Fin</label>
            <input type="date" id="fecFin" name="fecFin" required>
        </div>
        
        <div class="container mt-4">
        <h1>Total a cancelar </h1> 
        <h2 th:text="${inmueble.inmuPrecio}"></h2>
        </div><br>

<a th:href="@{/pagos/registrar(idInmueble=${inmueble.idInmueble}, fecIni=${#dates.format(fecIni)}, fecFin=${#dates.format(fecFin)})}" 
           class="btn btn-danger">Siguiente</a>    </div>
</form>
